{% for comment in post.comment_set.all %}
    <li class="list-group-item" >
        <a href="{% url "users:detail" comment.profile.user.username %}"> 
            <img class="rounded-circle" height="30px" width="30px" src="{{ comment.profile.picture.url }}" alt="{{ comment.user.get_full_name }}">
            {{ comment.profile.user.username }}
        </a>
        : {{ comment.text }} 
        <button type="button" id="like-comment" class="like-button" 
        style="font-size: 0.9em;" 
        data-like-url="{% url 'posts:like_comment' post.pk %}">
            {% if  request.user.profile in comment.likes.all %}
                <i class="fa fa-heart" style="color: red"></i>
            {% else %}
                <i class="far fa-heart"></i>
            {% endif %}
        </button> 
        <span style="font-size: 15px" id="comment_likes_count">
            {{ comment.likes.all.count | default:'0' }} 
        </span>
        <span>
        like{{ comment.likes.all.count|pluralize|default:'s' }}
        </span>
    </li>
{% endfor %}
<li class="list-group-item">
    {% if request.resolver_match.url_name == "detail" %}
        {% include "comments/new.html" %}
    {% endif %}
</li>
