{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ user.username }} | Platzigram</title>
{% endblock %}

{% block container %}

    <div class="container mb-5" style="margin-top: 8em;">
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center">
            {% if user.profile.picture  %}
                <img src="{{ user.profile.picture.url }}" alt="@{{ user.username }}" class="rounded-circle" width="150px" height="150px" />
            {% else %}
                <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" width="150px" height="150px"/>
            {% endif %}
            </div>
            <div class="col-sm-8">
                <h2 style="font-weight: 100;">
                    {{ user.get_full_name }}
                    @{{ user.username }}
                    {% if user == request.user %}
                        <a
                            href="{% url "users:update_profile" %}"
                            class="ml-5 btn btn-sm btn-outline-info"
                        >
                            Edit profile
                        </a>
                    {% else %}
                        {% if request.user.profile in user.profile.followers.all %}
                            <a
                            id="follow-unfollow"
                            href="{% url "users:unfollow" user.username %}"
                            class="ml-5 btn btn-sm btn-primary"
                            >
                            Unfollow
                            </a>
                        {% else %}
                            <a
                            id="follow-unfollow"
                            href="{% url "users:follow" user.username %}"
                            class="ml-5 btn btn-sm btn-primary"
                            >
                            Follow
                            </a>
                        {% endif %}
                    {% endif %}
                </h2>
                <div class="row mt-2" style="font-size: 1.2em">
                    <div class="col-sm-4">
                        <b>{{ user.profile.posts_set.count | default:"0" }}</b> post{{ user.profile.posts_set.count | pluralize}}
                    </div>
                    <div class="col-sm-4">
                        <b>{{ user.profile.followers.all.count | default:"0" }}</b> follower{{ user.profile.follow.all.count | pluralize }}
                    </div>
                    <div class="col-sm-4">
                        <b>{{ user.profile.follow.all.count | default:"0"}}</b> followed
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <p>{{ user.profile.biography }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container" id="user-posts">
        <div class="row mt-3">
            {% for post in posts %}
            <div class="col-sm-4 pt-5 pb-5 pr-5 pl-5 d-flex justify-content-center align-items-center">
                <div class="row">
                    <a href="{% url "posts:detail" post.pk %}" class="border">
                        <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="img-fluid"/>
                    </a>
                    <p class="ml-2 mt-0 mb-2">
                        <b>{{ post.title }}</b> - <small>{{ post.created }}</small>
                    </p>
                    <p class="mt-1 ml-2" >
                        <button type="button" id="like-post" class="like-button" 
                            title="Mostrar contraseña" style="font-size: 1.15em;" 
                            data-like-url="{% url 'posts:like_post' post.pk %}"
                            >
                            {% if  request.user.profile in post.likes.all %}
                                <i class="fa fa-heart" style="color: red"></i>
                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}
                        </button>
                        <span id="post_likes_count">{{ post.likes.all.count | default:'0' }} <span>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% load static %}
        <script src="{% static 'js/post_like.js' %}"></script>
    </div>

{% endblock %}